.player {
    background-color: #181818;
    height: 100vh; 
  }
  
.back{
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem;
 }
 .btn-secondary{
    background-color: rgba(120, 120, 120, 0.8);

 }
