.cardSlider-cont{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  padding: 1.5rem 0;
  width: 100vw;
}
.cardSlider-cont > h1{
  margin-left: 3rem;
  font-size: 1.5rem;
}
.cardSlider-wrapper{
  position: relative;
}
.cardSlider-div{
  display: flex;
  width:max-content;
  gap: 0.5rem;
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
  margin-left: 3rem;

}
.slider-action{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 3rem;
  transition: 0.3s ease-in-out;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.slider-action > i{
  font-size: 2rem;
}

.left{
  left:0;
}

.right{
  right: 0;
}

.none{
  display: none;
}